/* src/components/Carousel.css */

.carousel {
  position: fixed; /* Cambiar de absolute a fixed */
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh; /* Asegura que cubre toda la vista */
  overflow: hidden;
  margin: 0;
  padding: 0;
  z-index: -1; /* Asegura que el carrusel esté detrás del contenido */
}

.carousel img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Cubre todo el contenedor sin distorsionarse */
}
