/* src/components/Navbar.css */

nav {
  position: relative;
  width: 100%;
  z-index: 1000;
  background-color: rgba(51, 51, 51, 0.5); /* Hace que el Navbar sea un poco transparente */
  padding: 1rem;
}

nav ul {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding: 0;
}

nav ul li {
  color: white;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

nav ul li a.active {
  font-weight: bold;
}

  